<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131826341458-9p6bjqk4i9risu8855ue38bq60ld1st0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131826341458-9p6bjqk4i9risu8855ue38bq60ld1st0</string>
	<key>API_KEY</key>
	<string>AIzaSyBS6ex6rXEZI0ckOj6IgvNlAEGjxqQFKM8</string>
	<key>GCM_SENDER_ID</key>
	<string>131826341458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.castlit.telcabo.mobileappios</string>
	<key>PROJECT_ID</key>
	<string>castlit-7cade</string>
	<key>STORAGE_BUCKET</key>
	<string>castlit-7cade.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131826341458:ios:e70fcd04104aad0be5f18b</string>
</dict>
</plist>